<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd" xsi:type="NLogConfiguration" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="${basedir}\_logs\nlog.log"
      internalLogLevel="Warn"
      throwConfigExceptions="true"
      throwExceptions="false">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <variable xsi:type="NLogVariable" name="longDate" value="${longdate:universalTime=true}" />
    <variable xsi:type="NLogVariable" name="mensaje" value="${message} ${exception:format=tostring}" />
    <variable xsi:type="NLogVariable" name="basicLayout" value="[${level:uppercase=true}] ${logger} Line: ${callsite-linenumber} "/>
    <variable xsi:type="NLogVariable" name="correlationIdLayout" value="${when:when=length('${aspnet-TraceIdentifier:ignoreActivityId=true}') > 0:## CorrelationId\: ${aspnet-TraceIdentifier:ignoreActivityId=true}}" />
    <variable xsi:type="NLogVariable" name="exceptionLayout" value="${when:when=length('${exception}') > 0:## Exception\: ${exception:format=@:innerFormat=@:maxInnerExceptionLevel=10}}" />

    <targets>
        <target xsi:type="File"
                name="FileTarget"
                archiveFileName="${configsetting:item=PathLog}archived\{#}-all.log"
                archiveDateFormat="yyyy.MM.dd"
                fileName="${configsetting:item=PathLog}all.log">
            <archiveEvery>Day</archiveEvery>
            <archiveFileKind>Absolute</archiveFileKind>
            <archiveNumbering>Date</archiveNumbering>
            <layout xsi:type="CompoundLayout">
                <layout xsi:type="SimpleLayout" text="${basicLayout} ${correlationIdLayout} ${mensaje}" />
            </layout>
        </target>

    </targets>

    <rules>
        <logger ruleName="Writing everything in FileTarget" name="*" minlevel="Trace" writeTo="FileTarget" />
    </rules>
</nlog>