<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <extensions>
            <add assembly="Backend.NLogSetup.DataDogHQ" />
        </extensions>
        <targets>
            <default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow" timeToSleepBetweenBatches="1"
            />
            <target xsi:type="DataDog"
                    name="dataDog"
                    layout="${message}"
                    includeAllProperties="true"
                    apiKey="b106d3eeba0a4c53b3ba6b6ab0ebb9dd">

                <field name="ddsource" layout="${machinename}" />
                <field name="service" layout="${machinename}" />
                <field name="host" layout="${machinename}" />

                <field name="Logger" layout="${logger}" />
                <field name="ProcessID" layout="${processid}" />
                <field name="ProcessName" layout="${processname}" />
                <field name="Thread" layout="${threadid}" />
                <field name="ThreadName" layout="${threadname}" />
                <field name="Class"
                       layout="${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}" />
                <field name="Method"
                       layout="${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}" />

                <field name="sessionId" layout="12345" />
                <field name="Version" layout="${gdc:item=Version}" />
                <field name="Environment" layout="${gdc:item=Version}" />
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="dataDog" />
        </rules>
    </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>